fastapi==0.78.0
passlib==1.7.4
pydantic==1.10.10
PyJWT==2.8.0
python-dotenv==1.0.0
pytz==2023.3
SQLAlchemy==1.4.39
psycopg2-binary==2.9.3
uvicorn==0.18.2
requests==2.28.2
aiohttp==3.8.3
python-multipart